@model Razor.Models.Product

@{
    ViewBag.Title = "Name And Price";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<h2>NameAndPrice</h2>
<p>The products name is @Model.Name and its price is $@Model.Price</p>

