
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Action Name</title>
</head>
<body>
    <div> 
        <p>The controller is: @ViewBag.Controller</p>
        <p>The action is: @ViewBag.Action</p>
        <p>The custom variable is: @ViewBag.CustomVariable</p>
    </div>
</body>
</html>
